<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/domos-main/css/base.css">
    <link rel="stylesheet" href="/domos-main/css/style.css">
    <link rel="stylesheet" href="/domos-main/css/media-realtors-1370.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap" rel="stylesheet">
    <title>Риелторы</title>
</head>
<body>
    <div class="logo">
        <img src="/domos-main/images/logo_domos.png" alt="Логотип Домос" width="255" height="73">
    </div>

    <div class="title">
        <h2>найди нужного риелтора в нашем классификаторе</h2>
    </div>

    <div class="application">
        <form action="" method="post">
            <!-- <label for="">Тип недвижимости -->
                <!-- <input type="text"> -->
                <select name="type" id="type">
                    <option value="1">Вторичная недвижимость</option>
                    <option value="2">Новостройки</option>
                    <option value="3">Коммерческая недвижимость</option>
                    <option value="4">Загородная недвижимость</option>
                    <option value="5">Аренда недвижимости</option>
                </select>
            </label>
            <!-- </label> -->
    
            <!-- <label for="">Страна -->
                <!-- <input type="text"> -->
                <input list="country" id="select-country" placeholder="Россия">
                <datalist id="country">
                    <option value="Россия"></option>
                </datalist>
            <!-- </label> -->
    
            <!-- <label for="">Регион -->
                <!-- <input type="text"> -->
                <input list="region" placeholder="Свердловская область">
                <datalist id="region">
                    <option value="Свердловская область"></option>
                    <option value="Челябинская область"></option>
                </datalist>
            <!-- </label> -->
    
            <!-- <label for="">Город -->
                <input list="city" placeholder="Екатеринбург">
                <datalist id="city">
                    <option value="Екатеринбург"></option>
                    <option value="Челябинск"></option>
                </datalist>
                <!-- <input type="text"> -->
            <!-- </label> -->
    
            <!-- <label for="">Опыт работы -->
                <!-- <input type="text"> -->
                <select name="experience" id="experience">
                    <option value="">До 5 лет</option>
                </select>
            <!-- </label> -->
    
            <!-- <label for="">Пол -->
                <!-- <input type="text"> -->
                <select name="sex" id="sex">
                    <option value="1">Любой</option>
                    <option value="2">Мужской</option>
                    <option value="3">Женский</option>
                </select>
            <!-- </label> -->
    
            <input type="button" id="search" value="Поиск">
        </form>
    </div>

    <div class="wrapper">
        <div class="realtors" id="realtors"></div>
    </div>
    <script type="module" src="/domos-main/js/data/realtors-data.js"></script>
    <script type="module" src="/domos-main/js/filter.js"></script>
</body>
</html>